$main-text-color:#333;
$defualt-font-size:24px;
$defualt-line-height: 32px;

body 
{
	margin: 0;
	font-family: 'Lato', sans-serif;
	color: $main-text-color;
	font-size: $defualt-font-size;
	line-height: $defualt-line-height;
}
#le-line{
    display:block;
    border:none;
    height:1px;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, from($main-text-color), to(lightgray));
}
#top-grid
{
	background-color: white;
	display:grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto;


	#nav-bar
	{
		background-color: $main-text-color;
		display:grid;
		grid-template-columns: auto auto auto;
		grid-template-rows: auto;
		//text-align: center;
		justify-content: center;
		// these are divs
		#home-page-btn
		{
			grid-row: 1/ span 1;
			grid-column: 1/ span 1;
		}
		#home-page-btn a{
			text-decoration: none;
		}
		#home-page-btn a:hover{
			text-decoration: underline;
		}
		#projects-page-btn
		{
			grid-row: 1/ span 1;
			grid-column: 2/ span 1;
		}
		#projects-page-btn a{
			text-decoration: none;
			
		}
		#projects-page-btn a:hover{
			text-decoration: underline;
		}
		#writing-page-btn
		{
			grid-row: 1/ span 1;
			grid-column: 3/ span 1;
		}
		#writing-page-btn a{
			text-decoration: none;
		}
		#writing-page-btn a:hover{
			text-decoration: underline;
		}
	}
	#nav-bar a{
		color: whitesmoke;
	}
	#nav-bar div{
		padding: 10px;
	}
	#content
	{
		padding: 7px;
		border: 2px solid black;
		border-top-style: none;
		border-right-style: solid;
		border-bottom-style: none;
		border-left-style: solid;

		background-color: lightgray;
		margin: 0 auto;
		width: 90%;
		height: 100%;
	}
	#content #blog-item 
	{
		display: block;
		text-align: center;
		margin: 5px auto;
	}
	#content a {
		color: $main-text-color;
	}
	#content a:hover{
		background-color: $main-text-color;
    	color: white;
	}
	#content img{
		border-radius: 20px;
		display: block;
		margin: 0 auto;
		width: 95%;
		height: auto;
	}
}
@media only screen and (min-width: 800px) 
{
	body 
	{
		color: $main-text-color;
		font-size: 1.2 * $defualt-font-size;
		line-height: 1.2 * $defualt-line-height;
	}
	#top-grid
	{
		#content
		{
			background-color: lightgray;
			margin: 0 auto;
			max-width: 90%;
			width: 800px;
		}

	}
}



