body{
    margin: 0px;
}
#siteToSample
{
    z-index: -1;
}
canvas{
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    width: 100vw;
    height: 100vh;
}